/* Estilos gerais */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem; /* Aumenta o tamanho da fonte */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    color: #bb86fc; /* Roxo claro - destaque */
    text-transform: uppercase; /* Tudo em maiúsculas */
}

/* Estilos da tabela */
table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 90%;
    max-width: 1200px; /* Limita a largura máxima da tabela */
    background-color: #1f1f1f; /* Fundo escuro da tabela */
}

th, td {
    padding: 12px;
    text-align: center;
    color: #ffffff;
}

/* Linha de separação horizontal */
tr {
    border-bottom: 1px solid #2c2c2c; /* Cor cinza claro para separar as linhas */
}

/* Remove bordas verticais (entre colunas) */
td {
    border-left: none;
    border-right: none;
}

/* Estilos do cabeçalho */
th {
    background-color: #333333; /* Fundo da header da tabela mais escuro */
    color: #bb86fc; /* Texto da header roxo claro */
}

/* Cor de fundo alternada para as linhas */
tr:nth-child(even) {
    background-color: #2c2c2c;
}

tr:hover {
    background-color: #333333; /* Efeito hover escuro */
}

.material-icons {
    font-size: 24px;
    color: #bb86fc; /* Cor do ícone de link roxo claro */
}

@media (max-width: 480px) {
    table {
        font-size: 0.8rem; /* Reduz o tamanho da fonte ainda mais para telas muito pequenas */
    }

    th, td {
        padding: 4px; /* Ajusta o padding para telas muito pequenas */
    }
}

/* Centralizar o título "Apartamentos Desconsiderados" */
.desconsiderados-title {
    text-align: center;
    font-size: 1.5rem; /* Tamanho de fonte um pouco menor */
    margin-top: 30px;
    color: #e0e0e0; /* Mantém a cor de destaque */
}

/* Reduzir o tamanho da fonte da tabela de desconsiderados */
#tabela_desconsiderados {
    font-size: 0.85rem; /* Tamanho de fonte menor */
    width: 90%;
    margin: 20px auto;
}

#tabela_desconsiderados th, #tabela_desconsiderados td {
    padding: 8px; /* Reduz o espaçamento */
}

#tabela_imoveis th, #tabela_imoveis td {
    padding: 6px; /* Reduz o espaçamento */
}
/* Estilo para botões */
.button {
    padding: 10px 20px;
    background-color: #333333; /* Fundo escuro */
    color: #bb86fc; /* Roxo claro - destaque */
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-top: 8px; /* Adiciona um espaçamento acima */
    margin-left: auto; /* Alinha o botão à direita */
    margin-right: 20%; /* Aproxima um pouco da tabela */
    display: block; /* Garante que o botão ocupe uma linha inteira */
}


.button:hover {
    background-color: #bb86fc; /* Muda cor de fundo ao passar o mouse */
    color: #333333;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha itens ao final do contêiner (direita) */
    margin-right: 20px; /* Espaçamento à direita para evitar colar na borda da página */
    width: 100%; /* Ocupa a largura total disponível */
    align-items: center;
}